altgraph==0.17
appdirs==1.4.4
bottle==0.12.19
bottle-log==1.0.0
bottle-mysql==0.3.1
cfgv==3.3.0
distlib==0.3.2
filelock==3.0.12
identify==2.2.10
mysqlclient==2.0.3
nodeenv==1.6.0
pre-commit==2.13.0
protobuf==3.17.3
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
virtualenv==20.4.7
